<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary lighten-3 mb-3">
    <a class="navbar-brand" href="/">
        <div class="container-fluid">
        <span class="material-icons icons-header">
        developer_mode
        </span><span>
        <strong>Aplicación </strong> para selección de atributos</span>
    </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/upload/">
                        <div class="container-fluid">
                            Subir dataset   |
                            <span class="material-icons rotated icons-header">
                                publish
                            </span>
                        </div>
                    </a>                   
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/info/">Créditos</a>
                </li> -->
        </ul>
    </div>
</nav>
