{% extends "base_template.html" %}

{% block content %}
<div class="row pb-0">
    <div class="col">
        <div class="card-header text-center">
            <h4>Discretización de atributos</h4>
        </div>
    </div>
</div>
<form action="/discretize_attrs/{{nombre_archivo}}/{{separador}}/{{categorias_seleccionadas}}" method="POST">
    <div class="row mb-5">
        <div class="col s4">
            <div class="form-group">
                <label for="reference">Seleccione el atributo por el cual discretizar</label>
                <select name="reference_cat" id="reference_cat" class="form-control form-control-sm">
                    {% for option in categorias %}
                    <option value="{{option}}">{{ option }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col s4">
            <div class="form-group">
                <label for="min_group">Seleccione el número mínimo de intervalos</label>
                <select name="min_group" id="min_group" class="form-control form-control-sm">
                    {% for group in min_grupos %}
                    <option value="{{group}}">{{ group }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col s4 valign-wrapper">
            <button type="submit" class="btn bg-primary">Siguiente</button>
        </div>
    </div>
</form>
{% endblock %}