{% extends "base_template.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="jumbotron text-center">
            <h1><strong>Aplicación</strong>, minería de datos</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="jumbotron text-center">
            <p class="lead">Alvaro Varon Capera</p>
            <p class="lead">Jonathan Capera</p>
            <p class="lead">Minería de Datos</p>
            <p class="lead">Maestría en Ciencias de la Información y las Comunicaciones</p>
        </div>
    </div>
    <div class="col-8">
        <div class="jumbotron text-center">
            <p class="lead">Hecho con tecnologías</p>
            <img src="/static/images/logopy.png" alt="escudo ud" class="logoWeight">
            <img src="/static/images/logonumpy.png" alt="escudo ud" class="logoWeight">
            <img src="/static/images/logopandas.png" alt="escudo ud" class="logoWeight">
            <p>Algoritmo ChiMerge con el apoyo de alanzchen. Disponible en: <a href="https://gist.github.com/alanzchen/17d0c4a45d59b79052b1cd07f531689e">Enlace a Github</a></p>
        </div>
    </div>
</div>

{% endblock  %}