{% extends "base_template.html" %}
{% block content %}
<div class="row pb-0">
    <div class="col">
        <div class="jumbotron text-center">
            <h1>Archivo subido</h1>
            <p class="lead">
                Enhorabuena {{ data.name }}. El archivo se ha subido con <strong>éxito!!!</strong>
            </p>
        </div>
    </div>
</div>

<div class="row pb-0">
    <div class="col">
        <div class="jumbotron text-center">
            <h3>Los primeros datos del archivo son</h3>
            <table class="table table-hover table-responsive">
                <caption>Dataset ingresado</caption>
                <tr>
                    {% for col in column_names %}
                    <th scope="col">{{ col }}</th>
                    {% endfor %}
                </tr>
                {% for row in row_data %}
                <tr>
                    {% for col, row_ in zip(column_names, row) %}
                    <td>{{ row_ }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col">
        <p>Nombre de archivo: <strong>{{ filename }}</strong></p>
        <p>Tamaño del dataset: <strong>{{ df_info.size }}</strong></p>
        <p>Formato: <strong>{{ df_info.shape }}</strong></p>
        <span>
            <p>Tipo de datos</p>
            <form action="/select_categoric/{{filename}}/{{separator}}" method="POST">
            <table class="table table-hover table-responsive">
                <caption>Tabla de atributos</caption>
                <tr>
                    <th scope="col">Atributo</th>
                    <th scope="col">Tipo Pandas</th>
                    <th scope='col'>Tipo estimado</th>
                    <th scope='col'>Confirme el tipo</th>
                </tr>
                {% for col, type, sel in zip(df_info.columns, df_info.types, kind_of_attrs) %}
                <tr>
                    <td> {{ col }}</td>
                    <td> {{ type }}</td>
                    <td> {{ sel }}</td>
                    <td>
                        
                            <select name="cat" id="select_cat" class="form-control form-control-sm">
                                {% for option in attrs_options %}
                                {% if option == sel %}
                                    <option value="{{option}}" selected>{{ option }}</option>
                                {% else %}
                                    <option value="{{option}}">{{ option }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </span>

        <button type="submit" class="btn btn-primary mb-3">Aplicar algoritmos</button>
            </form>
    </div>
</div>

{% endblock %}