{% extends "base_template.html" %}

{% block content %}
<div class="row pb-0">
    <div class="col">
        <div class="card-header text-center">
            <h4>Carga de archivo</h4>
        </div>
    </div>
</div>


<form action="/upload/" method="POST" enctype="multipart/form-data">
    <div class="row">
        <!-- <div class="col s4">
            <div class="form-group">
                <label for="name">Ingresa tu nombre</label>
                <input type="input" name="name" placeholder="Ingresa tu nombre" class="form-control mb-2">
            </div>
        </div> -->
        <div class="col s4">
            <div class="form-group">
                <label for="file">Por favor, suba un archivo .csv con el dataset</label>
                <input type="file" name="file" class="form-control-file">
            </div>
        </div>
        <div class="col s4">
            <div class="form-group">
                <label for="separador">Seleccione el caracter separador del archivo a subir</label>
                <br>
                <select name="separador" id="sep" class="form-control">
                    <option value="," selected>,</option>
                    <option value=";">;</option>
                    <option value=" ">Espacio sencillo</option>
                </select>
            </div>
        </div>
        <div class="col s4 valign-wrapper">
            <button class="btn bg-primary center-align" type="submit">Siguiente</button>
        </div>
    </div>
    
</form>

{% endblock %}